<div class="container">
  <div class='row'>
    <table class="table mt-5">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー名</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th></th>
        </tr>
      </thead>
      <% users.each do |user| %> <!-- @users → users -->
      <tbody>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill,40,40, class: "p-0 rounded-circle" %></td>
          <td><%= link_to user_path(user) do %><%= user.name %><% end %></td>
          <td><%= user.followings.count %>フォロー</td>
          <td><%= user.followers.count %>フォロワー</td>
          <td id="user_<%= user.id %>">
            <%= render 'relationships/relationship', user: user %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>