<div class='conteiner'>
  <div class='row'>
    <div class='col-4 text_center'>
      <%= attachment_image_tag @user, :profile_image, :fill,250,250, class: "img-thumbnail" %>
    </div>
    <div class='col-6 '>
      <table class="table table-borderless">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>私の一推し</th>
          <td><%= @user.recommend %></td>
        </tr>
        <tr>
          <th>食べた量</th>
          <td><%= @posts.count %>杯</td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td><%= @user.self_introduction %></td>
        </tr>
      </table>
    </div>
    <%= link_to '編集', edit_user_path %>
  </div>
</div>