<div class='conteiner'>
  <div class='row mx-auto mt-5'>
    <div class='col-3'>
      <%= attachment_image_tag @user, :profile_image, :fill,250,250, class: "img-thumbnail" %>
    </div>
    <div class='col-9 '>
      <table class="table table-borderless">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>私の一推し</th>
          <td><%= @user.recommend %></td>
        </tr>
        <tr>
          <th>食べた量</th>
          <td><%= @posts.count %>杯</td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td><%= @user.self_introduction %></td>
        </tr>
      </table>
      <%= link_to '編集', edit_user_path, class: "fas fa-user-edit btn btn-warning" %>
    </div>
  </div>
</div>
<div class = 'conteiner'>
  <div class = 'row'>
    <% @posts.each do |post| %>
    <div class = 'col'>
      <div class="card mx-auto mt-5" style="width:250px;">
        <img class="card-img-top">
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, :fill,250,250, class: "img-thumbnail" %>
        <% end %>
        </img>
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag @user, :profile_image, :fill,50,50, class: "mt-5 ml-2 rounded-circle" %>
          </div>
          <div class="col-10">
            <h5 class="card-title">
　            <%= post.prefecture %></br><!--都道府県-->
            </h5>
            <div class="card-body">
              <%= post.shop_name %></br><!--店名-->
              <%= post.food_name %></br><!--商品名-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>