<div class="container mt-5">
  <h3>らーめん王</h3>
  <div class ='row mt-5'>
    <!--同率順位表示-->
    <% last_like = 0 %>
    <% j = 1 %>
    <% @user_ate_ranks.each.with_index(1) do |rank, i| %>
      <div class = 'col col-xl-3 col-lg-4 col-md-6' style="width:250px;">
      <!--最初の値をlast_likeに保存-->
      <% if i == 1 %>
        <% last_like = rank.posts.count %>
      <% end %>
      <!--last_likeといいね数比べて同じなら同じ順位、違うなら次の順位表示-->
      <% if rank.posts.count != last_like %>
        <% j = i %>
        第<%= j %>位
          <p><%= rank.name %></p>
        <!--ユーザー画像-->
        <div>
        <%= link_to user_path(rank) do %>
          <%= attachment_image_tag rank, :profile_image, :fill,250,250, class: "img-thumbnail", fallback: "no_image.jpg" %>
        <% end %>
        </div>
        <p><%= rank.posts.count %>杯</p>
        <% last_like = rank.posts.count %>
      <% else %>
        <% last_like = rank.posts.count %>
        第<%= j %>位
        <p><%= rank.name %></p>
        <!--投稿画像-->
        <div>
          <%= link_to user_path(rank) do %>
            <%= attachment_image_tag rank, :profile_image, :fill,250,250, class: "img-thumbnail", fallback: "no_image.jpg" %>
          <% end %>
        </div>
        <p><%= rank.posts.count %>杯</p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>