<div class="container">
  <div class ='row'>
    <% posts.each do |post| %> <!-- @posts → posts -->
    <div class = 'col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 '>
      <div class="card mx-auto mt-5" style="width:250px;">
        <img class="card-img-top">
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, :fill,250,250, class: "img-thumbnail" %>
        <% end %>
        </img>
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag post.user, :profile_image, :fill,50,50, class: "mt-5 ml-2 rounded-circle" %>
          </div>
          <div class="col-10">
            <div class="card-body py-0" id="post_<%= post.id %>">
              <h5><%= post.prefecture %></h5>
              <%= post.shop_name %><br>
              <%= post.food_name %><br>
              ☞ <%= post.post_comments.count %>コメント<br>
              <div class="favorite"><%= render 'favorites/favorite', post: post %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>