<div class="container mt-5">
  <div class="row">
    <%= link_to "いいねランキング", rank_favorite_path, class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "らーめん王", rank_ate_path, class: "btn btn-outline-secondary ml-2 btn-sm" %>
    <div class="search-form" style="text-right">
     <%= form_with url: search_path, method: :get, local: true do |f| %>
　    　<%= f.select :prefecture, Post.prefectures.map {|k,v| [k, v]}, {prompt: '選択してください'} %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'posts/list', posts: @posts %>