<div class='conteiner'>
  <div class='row mx-auto mt-5'>
    <div class='col-4 text_center'>
      <%= attachment_image_tag @post, :image, :fill,250,250, class: "img-thumbnail" %>
    </div>
    <div class='col-6 '>
      <table class="table table-borderless">
        <tr>
          <th>投稿者</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
        <tr>
          <th>ショップ名</th>
          <td><%= @post.shop_name %></td>
        </tr>
        <tr>
          <th>ラーメン名</th>
          <td><%= @post.food_name %></td>
        </tr>
        <tr>
          <th>ジャンル名</th>
          <td><%= @post.genre %></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= @post.price %></td>
        </tr>
        <tr>
          <th>説明</th>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= @post.prefecture %></td>
        </tr>
      </table>
    </div>
    <%= link_to '編集', edit_post_path %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  </div>
</div>