<div class="container">
  <div class='row mt-5'>
    <div class='col-md-3' id="post_<%= @post.id %>">
      <%= attachment_image_tag @post, :image, :fill,250,250, class: "img-thumbnail" %></br>
      <div class="comment">☞ <%= @post.post_comments.count %>コメント</div></br>
      <div class="favorite"><%= render 'favorites/favorite', post: @post %></div>
    </div>
    <div class='col-md-9'>
      <table class="table table-borderless">
        <tr>
          <th>投稿者</th>
          <td><%= link_to user_path(@user) do %><%= @user.name %><% end %></td>
        </tr>
        <tr>
        <tr>
          <th>ショップ名</th>
          <td><%= @post.shop_name %></td>
        </tr>
        <tr>
          <th>ラーメン名</th>
          <td><%= @post.food_name %></td>
        </tr>
        <tr>
          <th>ジャンル名</th>
          <td><%= @post.genre %></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= @post.price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>評価</th>
          <td class="movie-evaluation" data-score="<%= @post.evaluation %>"></td>
        </tr>
        <tr>
          <th>説明</th>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= @post.prefecture %></td>
        </tr>
      </table>
      <script>
        $('.movie-evaluation').empty();
        $('.movie-evaluation').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
        });
      </script>
      <% if @post.user == current_user %>
        <%= link_to '編集', edit_post_path, class: "btn btn-warning" %>
        <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger ml-5" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="post_comments">
    <%= render "post_comments/index", post: @post %>
  </div>
  <% if @post.user != current_user %> <!-- @post → post -->
    <div class='row mt-5' >
      <div class="col-5">
        <%= form_with model:[@post, @post_comment] do |f| %> <!-- @post → post. @post_comment→post_comment -->
          <%= f.text_area :comment, placeholder: "コメントフォーム" %>
          <%= f.submit "送信", class: "btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>