<!DOCTYPE html>
<html>
  <head>
    <title>Ramemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(206deg, #563431, #894e32, #bf6a30, #f78728)">
      <div class="container">
        <div class="navbar-brand p-3" >
          <% if user_signed_in? %>
            <%= link_to posts_path, class: 'nav-link text-light' do %><%= image_tag 'ramemo.png', :size => '60x50' %><% end %>
          <% else %>
            <%= link_to root_path, class: 'nav-link text-light' do %><%= image_tag 'ramemo.png', :size => '60x50' %><% end %>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="border-color: #FFFFFF;" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "新規投稿", new_post_path, class: 'nav-link text-light fas fa-plus-circle' %>
              </li>
              <li class="nav-item">
                <%= link_to "ラーメンバー", users_path, class: 'nav-link text-light fas fa-handshake' %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-light fas fa-user-astronaut' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'nav-link text-light fas fa-sign-out-alt' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-light fas fa-home' %>
              </li>
              <li class="nav-item">
                <%= link_to "about", home_about_path, class: 'nav-link text-light fas fa-bell' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light fas fa-sign-in-alt' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light fas fa-plus-square' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
